<%- include('./navbar'); %>

<div>
    <h1>Branches</h1>
    <div>
        <li>Katipunan</li>
        <li>Tomas Morato</li>
        <li>Eastwood</li>
        <li>Tiendesitas</li>
        <li>Arcovia</li>
    </div>
</div>
<%- include('./footer'); %>