<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- <nav>
      <div>
        <a href='/'>Home</a>
      </div>
      <div>
        <a href='/'>Products</a>
        <a href='/'>Branches</a>
        <a href='/'>About Us</a>
      </div>
    </nav> -->
    <div class="main-content">
      <h1 class="title-header">Welcome! Log-in here!</h1>
      <form action="/result" method="POST" id="form-login">
        <input type="text" name="color" placeholder="Email Address" />
        <input type="text" name="color" placeholder="Password" />
        <button>Login</button>
      </form>
    </div>
  </body>
</html>
