<nav>
    <div>
      <a href='/'>Home</a>
    </div>
    <div>
      <a href='/products'>Products</a>
      <a href='/branches'>Branches</a>
      <a href='/aboutus'>About Us</a>
    </div>
  </nav>

